.carousel {
	background-color: $color-primary;
	border-radius: .6rem;
	border: .8rem solid $color-grey-light-2;
	overflow: hidden;
	width: 100%;
	height: 70%;

	&-caption {
		top: 5rem;
		right: 6rem;
		text-align: right;
		color: $color-grey-light-1;

		& h3 {
			font-size: 2.5rem;
			font-weight: bold;
		}

		& p {
			font-size: 2rem;
		}
	}

	&-item {
		background-color: $color-primary;
		& img {
			opacity: .5;
		}
	}
}