//Colores
$color-primary: #162A59;

$color-primary-green: #8BCE2C;
$color-secondary-green: #8BDB19;
$color-terciary-green: #649F2C;
$color-light-green: #8AE40B;
$color-dark-green: #678b0d;
$color-alternative-green: #72AF84;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-blueish-grey: #ADADFF;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-header-primary: #45AE3D;
$color-header-secondary: #F87939;

$bg-dark-blue: #00417A;
$bg-light-blue: #007EC3;
$bg-green: #45AE3D;
$bg-pink: #DC4E80;
$bg-red: #952731;


//Fuentes
$default-font-size: 1.6rem;
$general-font-size:1.3rem;
